*{
  box-sizing: border-box;

}

body{
  padding: 0px;
  margin:0;
  text-align: center;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
}


#submit_button {
  text-align: center;
  margin-left: 0px;
  margin-right: auto;
  width: 30%;
  border: none;
  padding: 3px;
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.349);
  font-family: 'Patrick Hand', cursive;
  font-size: 14px;
}

#submit_button:hover {
  background-color: rgb(124, 122, 122);
  color: rgb(255, 255, 255);
}
.hidden{
  display: none;
}

h1 {
  margin-bottom: auto;
}

.usage_guide{
  margin: auto;
  padding: 40px;
  width:40%;
  font-size: 16px;
  border-style: outset;
  background-color: rgba(255, 255, 255, 0.432);
}

form {
  text-align: center;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.432);
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.349)
}

h3,
h1 {
  text-align: center;

}

#js-search-term {
  padding: 5px;
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.349);
  
}

label {
  font-family: 'Permanent Marker', cursive;
  color:rgb(247, 247, 247);
  text-shadow: 2px 2px rgba(59, 57, 59, 0.521);
  font-size: 40px;
}

p {
  text-align: left;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.results {
  text-align: center;
  
}

.wiki_results {
  padding: 20px 70px;
  background-color: rgba(255, 255, 255, 0.432);
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.349)
}

h2 {
  font-family: 'Indie Flower', cursive;
  color:rgb(247, 247, 247);
  text-shadow: 2px 2px rgba(59, 57, 59, 0.521);
  font-size: 40px;
  padding: 10px;
}

#results-list {
  background-color: rgba(255, 255, 255, 0.432);
  padding: 50px 70px;
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.349)
}

@media screen and (min-width: 700px) { 

  #page {
    display: flex;
    position: absolute;
    
  }

  #snippet {
    width: 100%;
  }


  #js-search-term {
    width: 70%
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    padding-left: 40px;
    position: relative;
    left: 10%;
  }

  .results {
    display: inline-block;
    padding-left: 200px;
    width:60%;
    position: relative;

    ;
  }
  


 
  /*.video {
    float: right;
  }*/



  .hidden{
    display: none;
  }
