*{
  box-sizing: border-box;
}

body{
  padding:0;
  margin:0;
}
nav{
  background-color: #333;
}

nav p{
  text-align: center;
  color:white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  width: 25%;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

#submit_button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.hidden{
  display: none;
}

.usage_guide{
  margin-top:15px;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  height:150px;
  border-style: solid;
}

.video{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

/* .active {
  background-color: #4CAF50;
} */